/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap'); */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, rgba(0,0,0,0.82), rgba(22,22,22,0.72)), url('Asset/img/wmsu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #fff;
}

nav {
 background: #b01c1c;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 2000;
}

.logo1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.links1 {
  list-style: none;
  display: flex;
  gap: 25px;
}

.links1 li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}
.links1 li a:hover {
  color: #b01c1c;
}
.links1.active,
.nav-links.active {
    display: flex;
}

header {
  text-align: center;
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

header p {
  font-size: 1.3rem;
  color: #ddd;
  margin-bottom: 30px;
}

.img{
  height: 100%;
  font-weight: 100%;
}

.nis {
  background: #b01c1c;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 14px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(176,28,28,0.25);
  transition: background 0.2s;
}

.nis:hover {
  background: #8b0e0e;
}

.box {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
  color: #111;
}

.box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.box p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 280px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}

footer {
  background: #111;
  color: #bbb;
  text-align: center;
  padding: 20px;
}

/* HAMBURGER DEFAULT */
.hamburger {
  display: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {

  .nav-container {
    position: relative;
  }

  .links1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(235, 7, 7, 0.95);

    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 15px 0;

    display: none;
  }

  .links1.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}